@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');

    
    body {
        background-image: url('../img/bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }
    h1{
        margin-bottom: 20px;
        margin-top: 10px;
    }
    h3{
        margin-bottom: 20px;
        margin-top: 10px;
    }
    #gameHeading {
        text-align: center;
        font-size:5.8em;
        padding-bottom: 0px;
        text-decoration: underline;
    }
    
    #main {
        font-family: 'Baloo Bhaina', cursive;
        width:1000px;
        height:auto;
        margin: auto;
        padding: 10px;
    }
    
    #winner, #timer{
        text-align: center;
    }
    #winner{
        font-size: 30px;
        Margin-bottom: 10px;
    }
    
    #score {
        float:right;
     }
    #name{
        float: left;
        padding-right: 20px;
        font-size: 25px;
        width: 100pt;
        margin:auto;
        text-align: center;
    }
    #player{
        float:left;
        /*padding-right: 10px;*/
        width: 110px;
        padding-right: 20px;
    }
    input{
         
        font-family: 'Baloo Bhaina';
        /*position:absolute;*/
        width: 150px;
        height:auto;
        margin: auto;
        font-size:30pt;
        background-color: white;
        border: thick;
        border-radius: 10px;
        text-align: center;
        margin-left: 425px;
        padding: 0;
     }
     
#imgResize {
    width: 120px;
    float: none;
}
footer {
    margin: auto;
    height: 300px;
    text-align:center;
}